.Space-profileContainer {
  width: 30%;
}

.Space-avatarContainer {
  padding: 0 35%;
}

.Space-avatar {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/corgi.jpg");
}

.Space-name {
  font-size: 25px;
  font-weight: 300;
}

.Space-line {
  border-color: var(--grey);
}

.Space-infoContainer {
  display: flex;
  flex-direction: column;
  padding: var(--m);
}

.Space-subContainer {
  /* flex-grow: 1; */
  flex-basis: auto;
}

.Space-subContainer + .Space-subContainer {
  margin-bottom: var(--m);
}

.Space-subTitle {
  font-weight: 300;
  font-size: 24px;
  margin: var(--m) var(--s);
}
