.Card-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  /* width: 100%; */
  display: flex;
  width: 90%;
  margin: var(--m) 5%;
  flex-direction: column;
  /* margin-left: 10px; */
}

.Card-container:first-of-type {
  margin-top: var(--l);
}

.Card-post,
.Card-rateSection {
  max-width: 100%;
  display: flex;
  padding: var(--m) var(--l);
}

.Card-rateUser {
  font-size: 20px;
  font-weight: 600;
}

.Card-rateContent {
  font-size: 40px;
  margin: var(--s) 0 0;
}

.Card-rateSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
}

.Card-rateBody {
  margin: 0 0 var(--s);
}
