.Card-rateSection {
  margin: 2%;
  margin-right: 4%;
  margin-left: 4%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  overflow: hidden;
}

.post-rates {
  display: flex;
  flex-direction: column;
}
