.signup-container {
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100%;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-container h2 {
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  display: block;
  text-align: left; /* 使label靠左对齐 */
  margin-bottom: 5px;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.password-container {
  display: flex;
  align-items: center;
}

.toggle-password {
  margin-left: 10px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}

.toggle-password:hover {
  color: #0056b3;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}

.signup-container p {
  text-align: center;
  margin-top: 20px;
}

.signupAll {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#PicTJ {
  width: 500px;
  height: 500px;
}
