.SinglePost-container {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
}

.SinglePost-Post {
  flex: 1;
}

.SinglePost-PostCreator {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: var(--s);
}

.SinglePost-PostContent {
  font-size: 18px;
  margin-bottom: var(--m);
}

.SinglePost-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  color: var(--black);
}

.hotRate {
  font-weight: 900;
  text-shadow: 0 1px hsl(0, 0%, 85%),
  0 1px hsl(0, 0%, 80%),
  0 1px hsl(0, 0%, 75%),
  0 1px hsl(0, 0%, 70%),
  0 1px hsl(0, 0%, 65%),
  0 5px 10px black;
  position: relative;
  width: auto;
  height: auto;
  background: linear-gradient(-150deg, transparent 1.5em, #f7acac 0);
  border-radius: .5em;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .4)) 100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
  }
}

.SinglePost {
  width: 90%;
}